<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.asks.mapper.AskMapper">

	<select id="selectAskList" parameterType="co.yedam.asks.vo.AskPageVO" resultType="co.yedam.asks.vo.AskVO">
		select *
		from(
			select rownum rn, a.*
		    from(
		    	 select a.*
		         from ask a
		         where prod_no = #{pno}
		         order by ask_no desc) a
		<![CDATA[         
		)where rn <=(#{apage} * 5) 
		]]>
		and rn >(#{apage} -1) * 5
	</select>

	<insert id="insertAsk" parameterType="co.yedam.asks.vo.AskVO">
		<selectKey resultType="int" keyProperty="askNo" order="BEFORE">
			select ask_no_seq.nextval from dual
		</selectKey>
		insert into ask (ask_no, ask_content, id, ask_category, ask_date, prod_no)
		values (#{askNo}, #{askContent}, #{id}, #{askCategory}, #{askDate}, #{prodNo})
	</insert>

	<delete id="deleteAsk" parameterType="int">
		delete from ask
		where ask_no = #{ano}
	</delete>
	
	<select id="AskCount" parameterType="int" resultType="int">
		select count(1)
		from ask
		where prod_no = #{pno}
	</select>
	
	<!-- Admin -->
	<select id="selectAdminAskList" parameterType="int" resultType="co.yedam.asks.vo.AskVO">
		select *
		from(select  rownum rn, a.*
		    from(
		         SELECT a.*, (select count(1) from reply where ask_no = a.ask_no) rc
		         FROM ask a  
		         ORDER BY ask_no desc) a
		<![CDATA[
		)where rn <=(#{apage} * 10)
		]]>
		and rn >(#{apage} -1) * 10
	</select>

	<select id="noReplyAskList" parameterType="int" resultType="co.yedam.asks.vo.AskVO">
		select *
		from(select rownum rn, a.*
		    from(
		        SELECT  a.*, (select count(1) from reply where ask_no = a.ask_no) rc
		        FROM ask a
		        LEFT OUTER JOIN reply r
		        ON a.ask_no = r.ask_no
		        WHERE r.ask_no is null
		        ORDER BY a.ask_no desc) a
		<![CDATA[
		)where rn <=(#{apage} * 10)
		]]> 
		and rn >(#{apage} - 1) * 10
	</select>
	
	<select id="replyAskList" resultType="co.yedam.asks.vo.AskVO">
		select *
		from(select rownum rn, a.*
		    from(
		         SELECT a.*, (select count(1) from reply where ask_no = a.ask_no) rc
		         from ask a
		         inner join reply r
		         on a.ask_no = r.ask_no
		         order by a.ask_no desc) a
		<![CDATA[         
		)where rn <=(#{apage} * 10)
		]]> 
		and rn >(#{apage} -1) * 10
	</select>
	
	<!-- Admin Count -->
	<select id="adminAskCount" resultType="int">
		select count(1)
		from ask
	</select>
	
	<select id="adminAskCountRe" resultType="int">
		select count(*)
		from ask a
		inner join reply r
		on a.ask_no = r.ask_no
		order by a.ask_no desc
	</select>
	
	<select id="adminAskCountNoRe" resultType="int">
		select count(*)
		from ask a
		left outer join reply r
		on a.ask_no = r.ask_no
		where r.ask_no is null
	</select>
</mapper>