<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.asks.mapper.ReplyMapper">
	<select id="selectReplyList" resultType="co.yedam.asks.vo.ReplyVO">
		select *
		from Reply
		order by ask_no
	</select>

	<insert id="insertReply" parameterType="co.yedam.asks.vo.ReplyVO">
		insert into reply (ask_no, id, reply_content, reply_date)
		values (#{askNo}, #{id}, #{replyContent}, #{replyDate})
	</insert>
	
	<delete id="deleteReply" parameterType="int">
		delete from reply
		where ask_no = #{ano}
	</delete>

	<!-- 문의관리페이지  -->
	<select id="selectReplyProd" parameterType="int" resultType="ReplyProdVO" >
	  	SELECT p.*, i.image1
		FROM product p
		JOIN prdimage i
		ON p.prod_no = i.prod_no
		WHERE i.role = 'thumb' and p.prod_no = #{pno}
  	</select>
  	
	<select id="selectReplyAsk" parameterType="int" resultType="AskVO" >
		select *
	    from ask
	    where ask_no = #{ano}
	</select>

</mapper>