<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  
  <typeAliases>
	<package name="co.yedam" />  
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.0.29:1521:xe"/>
        <property name="username" value="jsp"/>
        <property name="password" value="jsp"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
	<mapper resource="co/yedam/revw/mapper/ReviewMapper.xml"/>
	<mapper resource="co/yedam/mapper/AskMapper.xml" />
	<mapper resource="co/yedam/cart/mapper/CartMapper.xml"/>
    <mapper resource="co/yedam/cart/mapper/OrderMapper.xml"/>
    <mapper resource="co/yedam/wish/mapper/WishMapper.xml"/>
    <mapper resource="co/yedam/prod/mapper/ProdMapper.xml"/>
    <mapper resource="co/yedam/memb/mapper/SignMapper.xml"/>
  </mappers>
</configuration>