<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.prod.mapper.ProdMapper">
  <sql id="joinProdImg">

  </sql>
  <select id="selectProdListByCase" parameterType="MainShowCaseVO" resultType="ProdVO">
  	SELECT *
    FROM (SELECT ROWNUM rn, p.*, i.image1
	      FROM product p
	      JOIN prdimage i
	      ON p.prod_no = i.prod_no
	      WHERE i.role = 'thumb'
	<choose>
		<when test="showCase == 'no'.toString()">
			ORDER BY p.prod_no DESC)
		</when>
		<when test="showCase == 'vw'.toString()">
			ORDER BY p.view_count DESC)
		</when>
	</choose>
    <![CDATA[
	WHERE rn < #{showNum}
	]]>
  </select>
  
  <select id="selectProd" resultType="ProdVO" parameterType="int">
  	SELECT *
  	FROM product
  	WHERE prod_no = #{pno}
  </select>
  
  <select id="selectProdImgList" resultType="ProdImgVO" parameterType="int">
  	SELECT *
  	FROM prdimage
  	WHERE prod_no=#{pno}
  </select>
</mapper>