<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.prod.mapper.ProdMapper">
  <sql id="orderCase">
	<choose>
		<when test="showCase == 'no'.toString()">
			ORDER BY p.prod_no DESC
		</when>
		<when test="showCase == 'vw'.toString()">
			ORDER BY p.view_count DESC
		</when>
		<when test="showCase == 'nm'.toString()">
			ORDER BY p.name DESC
		</when>
		<when test="showCase == 'pch'.toString()">
			ORDER BY p.price DESC
		</when>
		<when test="showCase == 'pcl'.toString()">
			ORDER BY p.price
		</when>
	</choose>
  </sql>
  
  <sql id="makeList">
    FROM (
    SELECT ROWNUM rn, a.*
    FROM (SELECT p.*, i.image1
	      FROM product p
	      JOIN prdimage i
	      ON p.prod_no = i.prod_no
	      WHERE i.role = 'thumb'
	      <if test="searchWord != ''.toString()">
	        AND (UPPER(p.name) LIKE '%'||UPPER(#{searchWord})||'%'
  	 		OR p.CATEGORY LIKE '%'||#{searchWord}||'%')
	      </if>
	      <if test="category != ''.toString()">
	        AND p.category LIKE #{category}
	      </if>
	      <if test="startPrice > 0">
	      	AND p.price BETWEEN (#{startPrice} AND #{endPrice})
	      </if>
		  <include refid="orderCase"/>
	)a)
  </sql>
  
  <select id="selectProdListByCase" parameterType="ShopVO" resultType="ProdVO">
  	SELECT *
  	<include refid="makeList"/>
    <![CDATA[
	WHERE rn < #{showNum}
	]]>
  </select>
  
  <select id="selectShopList" parameterType="ShopVO" resultType="ProdVO">
  	SELECT *
  	<include refid="makeList"/>
  	WHERE rn > (#{page} - 1) * 9
    <![CDATA[	
	AND   rn <= #{page} * 9
	]]>
  </select>
  
  <select id="countProd" parameterType="ShopVO" resultType="int">
 	SELECT COUNT(*)
	<include refid="makeList"/>
  </select>
  
  <select id="countCategory" resultType="categoryVO">
  	SELECT category title, count(*) cnt
	FROM product
	group by category
  </select>
  
  <select id="selectProd" resultType="ProdVO" parameterType="int">
  	SELECT *
  	FROM product
  	WHERE prod_no = #{pno}
  </select>
  
  <select id="selectProdImgList" resultType="ProdImgVO" parameterType="int">
  	SELECT *
  	FROM prdimage
  	WHERE prod_no=#{pno}
  </select>
</mapper>