<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.memb.mapper.SignMapper">

	<select id="selectMember"
		parameterType="co.yedam.memb.vo.MemberVO"
		resultType="co.yedam.memb.vo.MemberVO">
		SELECT *
		FROM Member
		WHERE id = #{id} AND pw = #{pw}
	</select>



	<insert id="insertMember"
		parameterType="co.yedam.memb.vo.MemberVO">
		INSERT INTO
		member(id, pw, m_name, email, phone)
		values(#{id}, #{pw}, #{mName}, #{email} ,#{phone})
	</insert>

	<delete id="deleteMember"
		parameterType="co.yedam.memb.vo.MemberVO">
		DELETE FROM member
		WHERE id =
		#{id} AND pw = #{pw}
	</delete>

	<update id="updateMember"
		parameterType="co.yedam.memb.vo.MemberVO">
		UPDATE member
		set
			pw = #{pw},
			m_name = #{mName},
			email = #{email},
			phone = #{phone}
		WHERE id = #{id}
	</update>

	<select id="findId" parameterType="co.yedam.memb.vo.MemberVO"
		resultType="co.yedam.memb.vo.MemberVO">
		SELECT id
		FROM member
		WHERE m_name = #{mName} AND phone =	#{phone}
	</select>

	<select id="findPw" parameterType="co.yedam.memb.vo.MemberVO"
		resultType="co.yedam.memb.vo.MemberVO">
		SELECT pw
		FROM member
		WHERE id = #{id} AND m_name = #{mName}	AND phone = #{phone}
	</select>

	<select id="selectUserInfo" parameterType="String"
		resultType="co.yedam.memb.vo.MemberVO">
		SELECT *
		FROM member
		WHERE id = #{id}
	</select>

</mapper>
