<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.yedam.memb.mapper.SignMapper">

	<select id="selectMember"
		parameterType="co.yedam.memb.vo.MemberVO"
		resultType="co.yedam.memb.vo.MemberVO">
		SELECT *
		FROM member
		where 
	</select>


	<insert id="insertMember"
		parameterType="co.yedam.memb.mapper.MemberVO">
		INSERT INTO
		member(id, pw, m_Name, email, phone, regidate, authority)
		values(#{id}, #{pw}, #{mName}, #{email} ,#{phone}, #{regidate}, #{authority})
	</insert>

	<delete id="deleteMember" parameterType="int">
		delete from member
		where id = #{id}
	</delete>
	
	

</mapper>
