<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.cart.mapper.CartMapper">
  <select id="selectCart" parameterType="String" resultType="co.yedam.cart.vo.CartVO">
    select *
    from cart c
    join prdimage g
    on c.prod_no = g.prod_no
    join product p
    on c.prod_no = p.prod_no
    where g.role = 'thumb' and id = #{id}
  </select>
  
  <select id="insertCheckCart" parameterType="co.yedam.cart.vo.CartVO" resultType="int">
    select count(*)
    from cart
    where prod_no = #{prodNo}
    and id = #{id}
  </select>
  
  <insert id="insertCart" parameterType="co.yedam.cart.vo.CartVO">
    insert into Cart (prod_no, id, qty)
    values (#{prodNo}, #{id}, 1)
  </insert>
  
  <update id="updateCart" parameterType="co.yedam.cart.vo.CartVO">
    update Cart
    set qty = #{qty}
    where prod_no = #{prodNo}
    and id = #{id}
  </update>
  
  <delete id="deleteCart" parameterType="co.yedam.cart.vo.CartVO">
    delete from Cart
    where prod_no = #{prodNo}
    and id = #{id}
  </delete>
</mapper>  